version: '3.9'

networks:
  traefik:
    external: true
    name: ${TRAEFIK_NETWORK}

services:
  webui:
  image: ghcr.io/jmnaste/ai-workflow-automation/webui:main
    pull_policy: always
  container_name: webui
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    labels:
      - traefik.enable=true
      - traefik.docker.network=${TRAEFIK_NETWORK}
      - traefik.http.routers.webui.rule=Host(`${UI_HOST}`)
      - traefik.http.routers.webui.entrypoints=${UI_ENTRYPOINTS:-websecure}
      - traefik.http.routers.webui.tls=true
      - traefik.http.routers.webui.tls.certresolver=${TRAEFIK_CERT_RESOLVER:-letsencrypt}
      - traefik.http.services.webui.loadbalancer.server.port=80
    networks:
      traefik:
        aliases:
          - webui
