api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  le:
    acme:
      email: ${TRAEFIK_EMAIL}
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
