node_modules
.dist
dist
.vite
.git
.github
.gitignore
Dockerfile
# Allow nginx.conf into build context so COPY succeeds in Dockerfile
# nginx.conf
.vscode
coverage
*.log
**/*.test.*
**/__tests__/**
**/__mocks__/**
